main {
	line-height: 1.5;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
	margin-bottom: 20vh;
}

.deroulant {
	width: min(100%, 700px);
	margin: 0 auto 0 auto;
	display: flex;
	flex-direction: column;
	box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.deroulant .enTete {
	background-color: #98B22C;
	padding: 15px;
	font-size: 14px;
	border-radius: 9px 9px 0 0;
	cursor: pointer;
	transition: all 0.05s ease-out;
	color: white;
	display: flex;
	gap: 10px;
	align-items: center;
}

.deroulant .enTete:hover {
	opacity: 90%;
}

.deroulant .contenu {
	background-color: #FBF2D8;
	font-size: 15px;
	transition: all 0.1s ease-out;
	overflow: hidden;
	height: 0;
}

.deroulant .contenu pre {
	margin: 15px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	word-break: break-word;
	white-space: pre-wrap;
	overflow-wrap: break-word; /* pour firefox car word-break: break-word ne marche pas pour ce navigateur */
}

.deroulant .fleche {
	height: 20px;
	width: 20px;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: transform 0.1s ease-out;
}

.deroulant .fleche span {
	display: block;
	width: 70%;
	height: 5px;
	background: white;
}

.deroulant .fleche span:nth-child(1) {
	transform: translateY(6px) rotate(45deg);
}

.deroulant .fleche span:nth-child(2) {
	transform: translateY(-6px) rotate(-45deg);
}

.deroulant.ouvert .fleche {
	transform: rotate(-90deg);
}

.deroulant.ouvert .contenu {
	height: auto;
}