/* pour la page carte.php */

main {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	flex-wrap: wrap;
	column-gap: 5%;
	row-gap: 20px;
	text-align: center;
}

.informations {
	width: 35%;
	min-width: min(350px, 100%);
}

.contact, .formations {
	box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
	padding: 20px;

}

.contact {
	margin: 20px 0 0 0;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;

}

.contact p {
	font-size: 15px;
	margin-top: 5px;
}

.contact span {
	cursor: pointer;
	transition: all 0.05s ease-out;
	font-size: 14px;
	color: white;
	padding: 10px;
	background-color: #0aA79B;
	border-radius: 20px;

}

.contact span:hover {
	background-color: #E1B428;
}

.formations .itemSession:hover {
	opacity: 72%;
}

.information {
	background-color: #E1B428;
}

.formations {
	max-height: 50vh;
	min-height: calc(20px + 33px + 52px + 10px);
	border-radius: 15px;	
	overflow-y: auto;
	overflow-x: hidden;
}

.formations h3 {
	padding-bottom: 10px;
}


.formations .itemSession:nth-child(odd) {
	background-color: #98B22C;
}

.formations .itemSession:nth-child(even) {
	background-color: #FBF2D8;
}

.formations .itemSession {
	text-decoration: none;
	color: black;
	border: grey 1px solid;
	box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
	padding: 10px;
	border-radius: 10px;
	margin: 10px 5px 0 5px;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: row;
	animation-duration: 0.3s;
	animation-name: coucou;
}


@keyframes coucou {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.recherche {
	width: 40%;
	min-width: min(500px, 100%);
}

.carte {
	overflow: hidden;
}

svg {
	width: 100%;
	height: 100%;
	cursor: default;
	scale:1;
}

@keyframes agrandissementFort {
	0% {scale: 1;}
	100% {scale: 4;}
}

svg.agrandissementDepartementsFort {
	animation: agrandissementFort 0.5s ease-out forwards;
}

@keyframes agrandissementMoyen {
	0% {scale: 1;}
	100% {scale: 3;}
}

svg.agrandissementDepartementsMoyen {
	animation: agrandissementMoyen 0.5s ease-out forwards;
}

@keyframes agrandissementFaible {
	0% {scale: 1;}
	100% {scale: 2;}
}

svg.agrandissementDepartementsFaible {
	animation: agrandissementFaible 0.5s ease-out forwards;
}

@keyframes agrandissementFortEnorme {
	0% {scale: 4;}
	100% {scale: 6;}
}

svg.agrandissementDepartementsFortEnorme {
	animation: agrandissementFortEnorme 0.5s ease-out forwards;
}

@keyframes agrandissementMoyenEnorme {
	0% {scale: 3;}
	100% {scale: 6;}
}

svg.agrandissementDepartementsMoyenEnorme {
	animation: agrandissementMoyenEnorme 0.5s ease-out forwards;
}

@keyframes agrandissementFaibleEnorme {
	0% {scale: 2;}
	100% {scale: 6;}
}

svg.agrandissementDepartementsFaibleEnorme {
	animation: agrandissementFaibleEnorme 0.5s ease-out forwards;
}

@keyframes retrecissementDepartementsEnormeFort {
	0% {scale: 6;}
	100% {scale: 4;}
}

svg.retrecissementDepartementsEnormeFort {
	animation: retrecissementDepartementsEnormeFort 0.5s ease-out forwards;
}

@keyframes retrecissementDepartementsEnormeMoyen {
	0% {scale: 6;}
	100% {scale: 3;}
}

svg.retrecissementDepartementsEnormeMoyen {
	animation: retrecissementDepartementsEnormeMoyen 0.5s ease-out forwards;
}

@keyframes retrecissementDepartementsEnormeFaible {
	0% {scale: 6;}
	100% {scale: 2;}
}

svg.retrecissementDepartementsEnormeFaible {
	animation: retrecissementDepartementsEnormeFaible 0.5s ease-out forwards;
}

@keyframes retrecissementDepartementsFort {
	0% {scale: 4;}
	100% {scale: 1;}
}

svg.retrecissementDepartementsFort {
	animation: retrecissementDepartementsFort 0.5s ease-out forwards;
}

@keyframes retrecissementDepartementsMoyen {
	0% {scale: 3;}
	100% {scale: 1;}
}

svg.retrecissementDepartementsMoyen {
	animation: retrecissementDepartementsMoyen 0.5s ease-out forwards;
}

@keyframes retrecissementDepartementsFaible {
	0% {scale: 2;}
	100% {scale: 1;}
}

svg.retrecissementDepartementsFaible {
	animation: retrecissementDepartementsFaible 0.5s ease-out forwards;
}

@keyframes agrandissementReunion {
	0% {scale: 1;}
	100% {scale: 6;}
}

svg.agrandissementReunion {
	animation: agrandissementReunion 0.5s ease-out forwards;
}

@keyframes retrecissementReunion {
	0% {scale: 6;}
	100% {scale: 1;}
}

svg.retrecissementReunion {
	animation: retrecissementReunion 0.5s ease-out forwards;
}

@keyframes showhide {
	0% {opacity:1;}
	100% {opacity:0;}
}

path.hide {
	animation: showhide 0.5s ease-out;
	animation-fill-mode: forwards;
}

@keyframes hideshow {
	0% {opacity:0;}
	100% {opacity:1;}
}

path.show {
	animation: hideshow 0.5s ease;
	animation-fill-mode: forwards;
}

path {
	fill: #f35757;
	stroke: white;
	stroke-width: 0.5;
}

#retour {
	margin-top: 15px;
	cursor: pointer;
	transition: all 0.1s ease-out;
	font-size: 15px;
	color: white;
	box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
	padding: 13px;
	background-color: #E1B428;
	border-radius: 20px;
	font-weight: bold;
	border: none;
}

#retour:hover {
	background-color: #222626;
}

.bulleTitre {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2; /* normalement pas besoin mais on sait jamais si un jour la div carte devient positionnée et qu'elle a un z-index supérieur à 2 */
	opacity:0;
	background-color: #f2f2f2;
	border: 1px solid white;
	color: black;
	transition: opacity .25s;
	padding: 5px;
	border-radius: 3px;
}

.vert {
	fill: #98B22C;
}

.cache {
	display: none;
}