*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	word-break: break-word;
}

.ligneHorizontale {
	height: 1px;
	width: 100%;
	background-color: black;
}

.ligneHorizontale.mini {
	width: 20px;
}

.ligneVerticale {
	height: 50px;
	width: 1px;
	background-color: black;
	margin: 0 20px;
}

.ligneVerticale.mini {
	height: 20px;
	margin: 0;
}

/* style pour les notifications (animation incluse) */

#notification {
	position: fixed;
	bottom: 3%;
	right: 2%;
	background: #222626;
	color: white;
	padding: 12px;
	margin-left: 2%;
	border-radius: 20px;
	font-size: 13.5px;
	animation-duration: 2s;
	transform: translateX(600px);
	visibility: hidden;
}

#notification.afficher {
	animation-name: fondu;
}

#notification.ok {
	background-color:#98B22C;
}

#notification.pasOk {
	background-color:#BE4C50;
}

@keyframes fondu {
	0% {
		visibility: visible;
		transform: translateX(600px);
	}

	10% {
		transform: translateX(0);
	}

	90% {
		transform: translateX(0);
	}

	100% {
		transform: translateY(100px);
	}
}