/* navbarre */

body {
	padding-top: 125px;
}

#navbarre {
	width: 100%;
	position: fixed;
	top: 0px;
	background-color: white;
	padding: 10px 5% 10px;
	box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
	transition: transform 0.2s ease-out;
	display: flex;
	flex-direction: column;
	z-index: 2;
	text-align: center;
}

#navbarre.avecIcone {
	transform: translateY(0px);
}

#navbarre.sansIcone {
	transform: translateY(-60px);
}

#nav-icone {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	margin-left: 10%;
	text-decoration: none;
	color: black;
}

#nav-icone p {
	margin-left: 20px;
	text-transform: uppercase;
	word-break: normal;
}

#nav-icone img {
	display: block;
	height: 50px;
	transition: all 0.2s ease-out;
}

#nav-icone img:hover {
	opacity: 72%;
}

#nav-liens {
	display: flex;
	justify-content: center;
	align-items: center;
}

#nav-liens a {
	padding: 15px 15px 15px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
	transition: all 0.05s ease-out;
	position: relative;
}

#nav-liens a:not(#bouton-quitter) {
	font-weight: 300;
	color: black;
}

#nav-liens a:hover:not(#bouton-quitter) {
	color: #c7902b;
}

#nav-liens a:not(#bouton-quitter):after {
	content: "";
	display: block;
	position: absolute;
	bottom: 12px;
	width: 5em;
	height: 1px;
	transform: scaleX(0);
	transform-origin: left;
	background: rgb(85, 85, 85);
	transition: transform 0.2s ease-out;
}

#nav-liens a:not(#bouton-quitter):hover:after {
	transform: scaleX(1);
}

#bouton-quitter {
	background-color: #98B22C;
	border-radius: 20px;
	color: white;
	margin: 0px 15px 0px;
}

#bouton-quitter:hover {
	scale: 1.05;
	background: #E1B428;
}

#hamburger {
	display: none;
}

@media (max-width: 1200px) {
	#nav-liens {
		height: 0;
		opacity: 0;
		flex-direction: column;
		transition: opacity 0.2s ease-out, height 0.2s ease-out;
		overflow: clip;
	}

	#nav-liens.ouvert {
		height: 345px;
		opacity: 1;
	}

	#hamburger {
		display: flex;
		align-items: center;
		justify-content: center;
		align-self: center;
		width: 20px;
		height: 20px;
		cursor: pointer;
		border: none;
		background: white;
		position: relative;
		margin: 12.5px 0 12.5px;
	}

	#hamburger span {
		display: block;
		width: 100%;
		height: 2px;
		background: #222626;
		position: absolute;
		transition: opacity 0.2s ease-out;
	}

	#hamburger span:nth-child(1) {
		transition: transform 0.2s ease-out;
		transform: translateY(7px);
	}

	#hamburger span:nth-child(3) {
		transition: transform 0.2s ease-out;
		transform: translateY(-7px);
	}

	#hamburger.ouvert span:nth-child(1) {
		transform: translate(0) rotate(135deg);
	}

	#hamburger.ouvert span:nth-child(2) {
		opacity: 0;
	}

	#hamburger.ouvert span:nth-child(3) {
		transform: translate(0) rotate(-135deg);
	}

	#bouton-quitter {
		margin: 15px 15px 15px;
	}
}