*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	word-break: break-word;
}

/* barre de navigation */

#navbarre {
	position: fixed;
	top: 0;
	left: 0;
	width: 270px;
	height: 100%;
	box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
	transform: translateX(calc(-270px + 2 * 12.5px + 20px));
	transition: transform 0.2s ease-out;
}

#navbarre.ouverte {
	transform: translateX(0);
}

#nav-icone  {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10%;
	padding: 15px;
	text-decoration: none;
	color: black;
	transition: all 0.2s ease-out;
}

#nav-icone:hover {
	opacity: 72%;
	color: #c7902b;
}

#nav-icone img {
	display: block;
	height: 50px;

}

#nav-icone h1 {
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
}

.nav-liens {
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 5%;
	font-weight: 300;
	color: black;
	text-decoration: none;
	padding: 20px;
	font-size: 13px;
	transition: all 0.05s ease-out;
	cursor: pointer;
}

.nav-liens:hover {
	background: #f8f8f8;
	color: #c7902b;
	font-size: 14px;
}

.nav-liens img {
	width: 30px;
}

.nav-liens.actif {
	background: #e9e9e9;
	cursor: not-allowed;
}

.nav-liens.actif span {
	color: #c7902b;
	font-size: 14px;
}

#bouton-quitter {
	display: block;
	background-color: #0aA79B;
	border-radius: 20px;
	color: white;
	text-decoration: none;
	padding: 10px;
	margin: 10px;
	font-size: 13px;
	transition: all 0.05s ease-out;
	text-align: center;
	text-transform: uppercase;
}

#bouton-quitter:hover {
	scale: 1.05;
	background: #E1B428;
}

#hamburger {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	cursor: pointer;
	border: none;
	background: white;
	position: relative;
	margin: 12.5px 0 12.5px;
	left: calc(270px - 20px - 12.5px);
}

#hamburger span {
	display: block;
	width: 100%;
	height: 2px;
	background: #222626;
	position: absolute;
	transition: opacity 0.2s ease-out;
}

#hamburger span:nth-child(1) {
	transition: transform 0.2s ease-out;
	transform: translateY(7px);
}

#hamburger span:nth-child(3) {
	transition: transform 0.2s ease-out;
	transform: translateY(-7px);
}

#hamburger.ouvert span:nth-child(1) {
	transform: translate(0) rotate(135deg);
}

#hamburger.ouvert span:nth-child(2) {
	opacity: 0;
}

#hamburger.ouvert span:nth-child(3) {
	transform: translate(0) rotate(-135deg);
}

main {
	transition: margin 0.2s ease-out;
}

main.navbarreOuverte {
	margin-left: calc(270px);
}

main.navbarreFermee {
	margin-left: calc(45px);
}

.onglet {
	display: none;
	padding: 0 20px 0 20px;
}

.onglet.actif {
	display: block;
}

.onglet *:not(textarea) {
	overflow: hidden;
}

/* commun à toutes les onglets (ou en tout cas plusieurs) */

.onglet .titreOnglet {
	display: block;
	text-align: center;
	padding: 50px 0 50px;
	font-weight: 300;
}

#notification {
	position: fixed;
	bottom: 3%;
	right: 2%;
	background: #222626;
	color: white;
	padding: 12px;
	margin-left: 2%;
	border-radius: 20px;
	font-size: 13.5px;
	animation-duration: 2s;
	transform: translateX(600px);
	visibility: hidden;
}

#notification.afficher {
	animation-name: fondu;
}

#notification.ok {
	background-color:#98B22C;
}

#notification.pasOk {
	background-color:#BE4C50;
}

@keyframes fondu {
	0% {
		visibility: visible;
		transform: translateX(600px);
	}

	10% {
		transform: translateX(0);
	}

	90% {
		transform: translateX(0);
	}

	100% {
		transform: translateY(100px);
	}
}

.formFormation {
	display: flex;
	flex-direction: column;
	box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
	padding: 20px;
}

.formFormation button {
	display: block;
}

.formFormation .input {
	margin-bottom: 20px;
}

.formFormation input, .formFormation textarea {
	display: block;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 10px;
	margin-top: 6px;
	overflow: hidden;
	font-family: 'Montserrat', sans-serif;
}

.formFormation input:focus, .formFormation textarea:focus {
	border-color: black;
}

.formFormation textarea {
	resize: none;
	width: 100%;
	height: calc(30px + 2*10px + 2*1px);
}


.formFormation .formFormation input {
	width: 280px;
}

.formFormation p.informationsInput {
	font-size: 15px;
	font-style: italic;
	color: #BE4C50;
	margin-top: 6px;
}

.formFormation .boutonValider {
	padding: 10px;
	background-color: #98B22C;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.formFormation .boutonValider:hover {
	background-color: #45a049;
}

.formFormation .boutonValider.desactive {
	background-color: grey;
	cursor: default;
}

.formFormation .enTete {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 6px;
}

.boutonSpan {
	color: white;
	border-radius: 4px;
	cursor: pointer;
	font-size: 13px;
	line-height: 100%;
}

.boutonSpan.boutonAjouter {
	background-color: #98B22C;
	padding: 8.5px;
}

.boutonSpan.boutonModifier {
	background-color: #E2B200;
	padding: 8.5px;
}

.boutonSpan.boutonPoint {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	border: solid 1px black;
}

.boutonSpan.boutonPoint span {
	width: 10px;
	height: 10px;
	border-radius: 100%;
	background-color: black;
}

.boutonSpan.boutonSupprimer {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	background-color: #BE4C50;
	justify-self: center;
	position: relative;
}

.boutonSpan.boutonSupprimer span {
	display: block;
	width: 3px;
	height: 50%;
	background: white;
	position: absolute;
	
}

.boutonSpan.boutonSupprimer span:nth-child(1) {
	transform: translate(0) rotate(135deg);
}

.boutonSpan.boutonSupprimer span:nth-child(2) {
	transform: translate(0) rotate(-135deg);
}

.boutonSpan:hover {
	opacity: 72%;
}

@media (max-width: 600px) {
	.titreOnglet {
		font-size: 6vw;
	}

	.formFormation .boutonSpan {
		width: 100%;
		font-size: 12px;
	}
}

.popupBoite {
	visibility: hidden;
	opacity: 0;
	position: fixed;
	height: 100vh;
	width: 100%;
	z-index: 2;
	background-color: rgba(0,0,0,0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.1s ease-out;
}

.popupBoite.ouverte {
	visibility: visible;
	opacity: 1;
}

.popupBoite .popupContenu {
	width: 600px;
	margin: 0 10px 0 10px;
	background-color: white;
	box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	padding: 10px;
}

.popupBoite .popupContenu .boutonFermer {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	cursor: pointer;
	border: none;
	background-color: #BE4C50;
	position: relative;
	border-radius: 4px;
	float: right;
}

.popupBoite .popupContenu .boutonFermer span {
	display: block;
	width: 50%;
	height: 3px;
	background: white;
	position: absolute;
	
}

.popupBoite .popupContenu .boutonFermer span:nth-child(1) {
	transform: translate(0) rotate(135deg);
}

.popupBoite .popupContenu .boutonFermer span:nth-child(2) {
	transform: translate(0) rotate(-135deg);
}

.popupBoite .popupContenu .boutonFermer:hover {
	opacity: 72%;
	box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.popupBoite .popupContenu h3 {
	text-align: center;
	padding: calc(20px + 20px) 0 20px 0;
}

.popupBoite .popupContenu .boiteChoix {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10%;
}

.popupBoite .popupContenu .boutonChoix {
	padding: 10px;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.popupBoite .popupContenu .boutonChoix.boutonAnnuler {
	background-color: grey;
}

.popupBoite .popupContenu .boutonChoix.boutonAnnuler:hover {
	background-color: #222626;
}

.popupBoite .popupContenu .boutonChoix.boutonValider {
	background-color: #98B22C;
}

.popupBoite .popupContenu .boutonChoix.boutonValider:hover {
	background-color: #45a049;
}

.fondFlou {
	position: fixed;
	visibility: hidden;
	opacity: 0;
	z-index: 1;
	width: 100vw;
	height: 100vh;
	backdrop-filter: blur(5px);
	transition: all 0.1s ease-out;
}

.fondFlou.actif {
	visibility: visible;
	opacity: 1;
}

.ligneHorizontale {
	height: 1px;
	width: 100%;
	background-color: black;
}

.ligneHorizontale.mini {
	width: 20px;
}

.ligneVerticale {
	height: 50px;
	width: 1px;
	background-color: black;
	margin: 0 20px;
}

.ligneVerticale.mini {
	height: 20px;
	margin: 0;
}

/* commun à tous les onglets de modification */

.ongletDeModification .cadrePrincipal {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	column-gap: 5%;
	row-gap: 20px;
	flex-wrap: wrap;
	padding: 0 0 20px 0;
	overflow: visible;
}

.ongletDeModification .boiteDeRechercheFormations {
	width: 35%;
	box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
	padding: 20px;
}

.ongletDeModification .inputRecherche {
	display: flex;
	align-items: center;
	border-radius: 4px;
	padding: 10px;
	background-color: #E7E7E7;
}

.ongletDeModification .inputRecherche img {
	width: 20px;
	position: relative;
}

.ongletDeModification .inputRecherche input {
	width: 100%;
	padding-left: 10px;
	outline: none;
	border: none;
	background-color: #E7E7E7;
}

.ongletDeModification .boiteResultatsRechercheFormations {
	overflow: visible;
}

.ongletDeModification .itemFormation:nth-child(odd) {
	background-color: #98B22C;
}

.ongletDeModification .itemFormation:nth-child(even) {
	background-color: #FBF2D8;
}

.ongletDeModification .itemFormation {
	padding: 10px;
	text-align: center;
	border-radius: 4px;
	margin: 20px 5px 0 5px;
	cursor: pointer;
}

.ongletDeModification .itemFormation:hover {
	opacity: 72%;
}

.ongletDeModification .itemFormation:nth-child(odd):hover {
	color: white;
}

.ongletDeModification .itemFormation.selectionne {
	box-shadow: inset 0px 0px 0px 2px #222626, 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

@media (max-width: 850px) {
	.ongletDeModification .boiteDeRechercheFormations {
		width: 100%;
	}

	.ongletDeModification .itemFormation span {
		font-size: 13px;
	}
}

/* pour la page formationCreer.html */

#formationCreer .formFormation {
	margin: 0 20% 20px 20%;
}

@media (max-width: 1400px) {
	#formationCreer .formFormation {
		margin: 0 17% 20px 17%;
	}
}

@media (max-width: 600px) {
	#formationCreer .formFormation {
		margin: 0 0 20px 0;
	}

	#formationCreer .formFormation label, .formFormation p.informationsInput {
		font-size: 13px;
	}

	#formationCreer .formFormation input {
		width: 100%;
	}
}

/* pour la page formationModifier.html */

#formationModifier .formFormation {
	width: 55%;
}

#formationModifier .formFormation .logosActionsRapides {
	margin-left: auto;
	display: flex;
	gap: 10px;
	overflow: visible;
}

#formationModifier .formFormation .logosActionsRapides img {
	width: 35px;
	padding: 5px;
	border-radius: 4px;
	cursor: pointer;
}

#formationModifier .formFormation .logosActionsRapides img:hover {
	opacity: 72%;
	box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

#formationModifier .formFormation .logosActionsRapides img.desactive {
	background-color: grey;
	cursor: default;
	opacity: 100%;
	box-shadow: none;
	pointer-events: none;
}

#popupDupliquerFormation .boiteInputNouveauNom {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}

#popupDupliquerFormation input {
	display: block;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 10px;
}

@media (max-width: 850px) {
	#formationModifier .formFormation {
		width: 100%;
	}

	#formationModifier .formFormation label, .formFormation p.informationsInput {
		font-size: 13px;
	}

	#formationModifier .formFormation input {
		width: 100%;
	}
}

/* pour la page sessionsModifier.html */

#sessionsModifier .boiteDesSessions {
	width: 55%;
	box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
	padding: 20px;
}

#sessionsModifier .boiteActions {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 20px;
}

#sessionsModifier .boiteActions button {
	padding: 10px;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	background-color: #98B22C;
}

#sessionsModifier .boiteActions button:hover {
	background-color: #45a049;
}

#sessionsModifier .boiteActions button.desactive {
	cursor: default;
	background-color: grey;
}

#sessionsModifier .boiteListeDesSessions {
	overflow: visible;
}

#sessionsModifier .itemSession:nth-child(even) {
	background-color: #98B22C;
}

#sessionsModifier .itemSession:nth-child(odd) {
	background-color: #FBF2D8;
}

#sessionsModifier .itemSession {
	padding: 10px;
	border-radius: 4px;
	margin: 20px 5px 0 5px;
	cursor: pointer;
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	animation-duration: 0.3s;
	animation-name: coucou;
}

#sessionsModifier .lienInscription {
	background-color: #e91e63;
	color: white;
	padding: 10px;
	border-radius: 4px;
	text-decoration: none;
}

#sessionsModifier .lienInscription:hover {
	opacity: 72%;
}

@keyframes coucou {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

#sessionsModifier .itemSession:hover {
	opacity: 72%;
}

#sessionsModifier .itemSession:nth-child(even):hover {
	color: white;
}

#popupCreerSession .boiteInputs {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	text-align: center;
	gap: 8px;
}

#popupCreerSession .boiteInputs input {
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 10px;
	display: block;
}

#sessionsModifier .itemSession.selectionne {
	box-shadow: inset 0px 0px 0px 2px #222626, 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

@media (max-width: 850px) {
	#sessionsModifier .boiteDesSessions {
		width: 100%;
	}

	#sessionsModifier .itemSession span {
		font-size: 13px;
	}
}

@media (max-width: 650px) {
	#sessionsModifier .itemSession {
		flex-direction: column;
		gap: 0px;
	}

	#sessionsModifier .ligneVerticale.mini {
		transform: rotate(90deg);
	}
}

@media (max-width: 350px) {
	#sessionsModifier .boiteActions button {
		font-size: 10px;
	}

	.ligneVerticale {
		margin: 0 10px;
	}
}

/* pour la page contactModifier.html */

#contactModifier form {
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	margin: 0 30% 20px 30%;
	padding: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

#contactModifier form label, #contactModifier form button {
	margin-top: 10px;
}

#contactModifier form input, #contactModifier form select {
	display: block;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 10px;
	width: 300px;
}

#contactModifier form select, #contactModifier form option {
	font-family: 'Montserrat', sans-serif;
}

#contactModifier form p {
	font-size: 13px;
	font-style: italic;
	color: #BE4C50;
}

#contactModifier form button {
	padding: 10px;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	background-color: #98B22C;
}

#contactModifier form button:hover {
	background-color: #45a049;
}

@media (max-width: 1200px){
	#contactModifier form {
		margin: 0 15% 20px 15%;
	}
}

@media (max-width: 650px){
	#contactModifier form {
		margin: 0 0 20px 0;
	}

	#contactModifier form input, #contactModifier form select {
		width: 100%;
	}
}

/* pour la page informationsEssentiellesModifier.html */

#informationsEssentiellesModifier form {
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	margin: 0 30% 20px 30%;
	padding: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

#informationsEssentiellesModifier form button {
	padding: 10px;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	background-color: #98B22C;
}

#informationsEssentiellesModifier form button:hover {
	background-color: #45a049;
}

#informationsEssentiellesModifier .boutons {
	display: flex;
	width: 100%;
	flex-direction: row-reverse;
}

#informationsEssentiellesModifier .listeInformations {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 100%;
}

#informationsEssentiellesModifier .information {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

#informationsEssentiellesModifier .enTete {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 6px;
}

#informationsEssentiellesModifier input, #informationsEssentiellesModifier textarea {
	display: block;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 10px;
	margin-top: 6px;
	overflow: hidden;
	font-family: 'Montserrat', sans-serif;
}

#informationsEssentiellesModifier input:focus, #informationsEssentiellesModifier textarea:focus {
	border-color: black;
}

#informationsEssentiellesModifier textarea {
	resize: none;
	width: 100%;
	height: calc(30px + 2*10px + 2*1px);
}

#informationsEssentiellesModifier form input {
	width: 280px;
}

@media (max-width: 1200px){
	#informationsEssentiellesModifier form {
		margin: 0 15% 20px 15%;
	}
}

@media (max-width: 650px){
	#informationsEssentiellesModifier form {
		margin: 0 0 20px 0;
	}

	#informationsEssentiellesModifier form input, #informationsEssentiellesModifier .boutonSpan {
		width: 100%;
	}
}