/* pour la page listeSessions.php */

main {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	row-gap: 20px;
	column-gap: 10%;
	padding: 20px;
	flex-wrap: wrap;
}

#formRecherche {
	box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
	padding: 20px;
	overflow: hidden;
	position: sticky;
	top: calc(125px - 60px + 20px);
	margin-top: 7vh;
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-self: flex-start;
	width: 425px;
}

#formRecherche input, #formRecherche select {
	border: 1px solid #ccc;
	border-radius: 30px;
	padding: 10px;
	width: 100%;
	margin-top: 6px;
	cursor: pointer;
	font-family: 'Montserrat', sans-serif;
}

#formRecherche .boiteDesChoix {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 20px;
	row-gap: 10px;
	flex-wrap: wrap;
}

#formRecherche button {
	display: block;
	border-radius: 20px;
	color: white;
	text-decoration: none;
	padding: 10px;
	transition: all 0.05s ease-out;
	text-align: center;
	border: none;
	cursor: pointer;
	width: 90px;
}

#formRecherche button.reset {
	background-color: #BE4C50;
}

#formRecherche button.valider {
	background-color: #98B22C;
}

#formRecherche button:hover {
	scale: 1.05;
	background-color: #0aA79B;
}

.boiteResultatsRechercheSessions {
	width: 45%;
	box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
	padding: 20px;
	overflow: hidden;
}

.boiteResultatsRechercheSessions h3 {
	text-align: center;
	padding-bottom: 12px;
}

.boiteResultatsRechercheSessions .itemSession:nth-child(even) {
	background-color: #98B22C;
}

.boiteResultatsRechercheSessions .itemSession:nth-child(odd) {
	background-color: #FBF2D8;
}

.boiteResultatsRechercheSessions .itemSession {
	padding: 10px;
	border-radius: 4px;
	margin: 20px 5px 0 5px;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
	animation-duration: 0.3s;
	animation-name: coucou;
	text-align: center;
}

.boiteResultatsRechercheSessions .texteAucuneSession {
	color: red;
	text-align: center;
	margin-top: 10px;
}

.lienInscription {
	background-color: #e91e63;
	color: white;
	padding: 10px;
	border-radius: 4px;
	text-decoration: none;
	transition: all 0.05s ease-out;
}

.lienInscription:hover {
	opacity: 72%;
}

@keyframes coucou {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@media (max-width: 1200px) {
	#formRecherche label, #formRecherche input, #formRecherche select, #formRecherche button, .boiteResultatsRechercheSessions .itemSession span {
		font-size: 13px;
	}

	.boiteResultatsRechercheSessions h3 {
		font-size: 15px;
	}

	#formRecherche {
		margin: 0;
		position: static;

	}

	.boiteResultatsRechercheSessions {
		width: 100%;
	}
}
