<footer>
	<div>
		<a href="https://www.justicerestaurative.org/category/actualite/">actualités de l’institut</a>
		<a href="https://www.justicerestaurative.org/espace-presse/">espace presse</a>
		<a href="https://www.justicerestaurative.org/politique-de-confidentialite/">politique de confidentialité</a>
	</div>
	<div>
		<p>Équipe "ALTF4" CY-TECH Pau (Pré-Ing2 2022/2023)<br>Merci de faire une demande à "barreredorian332@gmail.com" avant toute reproduction du site</p>
	</div>
</footer>