/* footer */

html, body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
}

main {
	flex-grow: 1;
}

footer, footer div {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

footer {
	gap: 10%;
	padding: 30px 30px 30px;
	background-color: #222626;
}

footer div a {
	display: inline-block;
	padding: 15px 15px 15px;
	font-size: 12px;
	font-weight: 500;
	text-decoration: none;
	color: #FFFFFF;
	text-transform: uppercase;
	transition: opacity 0.2s ease-out;
	white-space: wrap;
	text-align: center;
}

footer div a:hover {
	opacity: 0.75;
}

footer p {
	padding: 15px 15px 15px;
	font-size: 14px;
	font-weight: 300;
	color: #FFFFFF;
	white-space: wrap;
	text-align: center;
}