/* Cette partie définit les styles pour le conteneur du carrousel */
.conteneur-carrousel {
	position: relative;
	padding: 0 85px 0 85px;
	display: flex;
	justify-content: center;
	align-self: center;
	width: 100%;
}

/* Cette partie définit les styles pour les icônes (flèches) du carrousel */
.fleche {
	height: 50px;
	width: 50px;
	line-height: 50px;
	border-radius: 50%;
	cursor: pointer;
	position: absolute;
	border: none;
	box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
	z-index: 2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.fleche:hover {
	background-color: #0aA79B;
}

#flecheGauche {
	left: calc(85px - 25px);
	top: calc(50% - 25px);
}

#flecheDroite {
	right: calc(85px - 25px);
	top: calc(50% - 25px);
}

.fleche span {
	display: block;
	width: 25%;
	height: 2px;
	background: #222626;
}

#flecheGauche span:nth-child(1){
	transform: translateY(5px) rotate(45deg);
}

#flecheGauche span:nth-child(2){
	transform: translateY(-5px) rotate(-45deg);
}

#flecheDroite span:nth-child(1){
	transform: translateY(5px) rotate(-45deg);
}

#flecheDroite span:nth-child(2){
	transform: translateY(-5px) rotate(45deg);
}

/* Cette partie définit les styles pour le carrousel lui-même */
.conteneur-carrousel .carrousel {
	display: grid; /* définit le conteneur du carrousel comme une grille */
	grid-auto-flow: column; /* spécifie que les éléments de la grille seront disposés en colonnes */
	grid-auto-columns: 300px;
	gap: 15px;
	overflow: hidden;
	padding-top: 70px;
	padding-bottom: 70px;
	padding-left: 15px;
	padding-right: 15px;
}

/* Cette partie définit les styles généraux pour les éléments du carrousel. */
.zoneDetectionSouris {
	perspective: 1000px;
}

.element-carrousel {
	height: 250px;
	list-style: none;
	border-radius: 20px 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
	font-size: 0.8rem;
	color: black;
	transition: all 0.5s;
	transform-style: preserve-3d;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 4px;
}

.zoneDetectionSouris:nth-child(odd) .element-carrousel {
	background-image: linear-gradient(to right top, #92a833, #9eb638, #a9c43d, #b5d242, #c1e047);
}

.zoneDetectionSouris:nth-child(even) .element-carrousel {
	background-image: linear-gradient(to right top, #7e9032, #8ea237, #9db53d, #aec842, #bedc48);
}


.element-carrousel .descriptif, .element-carrousel .titre {
	position: absolute;
	backface-visibility: hidden;
	transform: rotateX(0deg);
	text-align: center;
	margin: 20px;
	width: calc(100% - 2*20px);
	height: calc(100% - 2*20px);
	overflow: hidden;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
}

.element-carrousel .titre {
	cursor: pointer;
}

.element-carrousel .descriptif {
	transform: rotateY(180deg);
}

.element-carrousel .descriptif span {
	cursor: pointer;
	transition: all 0.1s ease-out;
	font-size: 14px;
	color: white;
	padding: 30px;
	background-color: #98B22C;
	border-radius: 20px;
}

.element-carrousel .descriptif span:hover {
	background-color: #E1B428;
}

/* Effet de retournement. */

.zoneDetectionSouris:hover .element-carrousel {
	transform: rotateY(180deg);
}

@media (max-width: 1200px) {
	.conteneur-carrousel {
		padding-left: 25px;
		padding-right: 25px;
	}

	.conteneur-carrousel .carrousel {
		grid-auto-columns: 200px;
		padding-bottom: calc(100px + 75px);
	}

	.element-carrousel {
		height: 210px;
		font-size: 0.6rem;
	}

	#flecheGauche {
		left: calc(50% - 25px - 11vw);
		top: calc(100% - 75px - 50px - 10px);
	}

	#flecheDroite {
		left: calc(50% - 25px + 11vw);
		top: calc(100% - 75px - 50px - 10px);
	}
}

@media (max-width: 380px) {
	.conteneur-carrousel {
		padding-left: 10px;
		padding-right: 10px;
	}

	.conteneur-carrousel .carrousel {
		grid-auto-columns: calc(100vw - 2*10px - 2*15px);
	}

	.element-carrousel {
		height: 200px;
		box-shadow: none;
	}

	#flecheGauche {
		left: calc(50% - 25px - 20vw);
	}

	#flecheDroite {
		left: calc(50% - 25px + 20vw);
	}
}