/* pour la page formation.php */

main {
	position: relative;
	display: flex;
	flex-direction: row;
}

#barreContact {
	background-color: #222626;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 20px;
	text-align: center;
	row-gap: 16px;
	column-gap: 7vw;
	font-size: 17px;
	width: 300px;
	flex-direction: column;
	border-radius: 20px;
	margin: 20px 0 20px 20px;
}

#barreContact span {
	color: white;
}

#moduleInputEtResultat {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 15px;
}

#moduleInputEtResultat .selecteurRegion {
	border-radius: 20px;
	padding: 10px;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	padding: 5px;
	outline: none;
	cursor: pointer;
}

#moduleInputEtResultat span {
	cursor: pointer;
	transition: all 0.05s ease-out;
	font-size: 14px;
	color: white;
	box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
	padding: 10px;
	background-color: #0aA79B;
	border-radius: 20px;
}

#moduleInputEtResultat span:hover {
	background-color: #E1B428;
}

#partieCarrousel {
	width: calc(100% - 300px - 20px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#partieCarrousel .passerCarrousel {
	margin-bottom: 150px;
	cursor: pointer;
	transition: all 0.05s ease-out;
	font-size: 16px;
	color: white;
	box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
	padding: 15px;
	background-color: #E1B428;
	border-radius: 20px;
}

#partieCarrousel .passerCarrousel:hover {
	background-color: #222626;
}

@media (max-width: 1200px){
	main {
		flex-direction: column;
	}

	#barreContact {
		font-size: 15px;
		column-gap: 5vw;
		width: calc(100% - 2*20px);
		flex-direction: row;
		margin: 20px 20px 0 20px;
	}

	#moduleInputEtResultat {
		flex-direction: row;
	}

	#moduleInputEtResultat .selecteurRegion, #moduleInputEtResultat span {
		font-size: 13px;
	}

	#partieCarrousel {
		width: 100%;
	}

	#partieCarrousel .passerCarrousel {
		display: none;
	}
}

@media (max-width: 350px){
	#moduleInputEtResultat .selecteurRegion {
		width: 100%;
	}
}