<h1 class="titreOnglet">Créer une Formation</h1>
<form class="formFormation" action="scriptFormationCreer.php" method="POST" enctype="multipart/form-data">

	<!-- les inputs "classiques" et "statiques" -->
	<div class="input">
		<label>Nom :</label>
		<input class="titres nom" name="nom" type="text" required placeholder="Nom...">
		<p class="informationsInput">ATTENTION les caractères suivants sont prohibés : . > < : ? * / \ | " &</p>
	</div>

	<div class="input">
		<label>Texte de description :</label>
		<textarea name="description" required>Ceci est la description de la formation.</textarea>
	</div>

	<div class="input">
		<label>Format :</label>
		<input class="titres format" name="format" type="text" required placeholder="Format...">
	</div>

	<div class="input">
		<label>Groupe :</label>
		<input class="titres groupe" name="groupe" type="text" required placeholder="Groupe...">
	</div>

	<div class="input">
		<label>Durée :</label>
		<input class="titres duree" name="duree" type="text" required placeholder="Durée...">
	</div>

	<div class="input">
		<label>Fichier .pdf associé (ce champ n'est pas obligatoire) :</label>
		<input class="titres" name="pdf" type="file" accept=".pdf">
	</div>

	<!-- les inputs des catégories et des parties qui peuvent être supprimés et ajoutés -->
	<div class="listeCategories">

		<!-- une boite représentant une catégorie typique avec 1 seule partie -->
		<div class="categorie">

			<!-- plusieurs inputs dans la catégorie -->
			<div class="input">

				<!-- une en-tête contenant le nom de l'input et des boutons de suppression et d'ajout -->
				<div class="enTete">
					<label>Catégorie (Titre) :</label>
					<span class="boutonAjouter boutonSpan" onclick="ajouterUneCategorie(this.parentNode.parentNode.parentNode.parentNode)">Ajouter une Catégorie</span>
					<span class="boutonAjouter boutonSpan" onclick="ajouterUnePartie(this.parentNode.parentNode.parentNode)">Ajouter une Partie à cette Catégorie</span>
					<span class="boutonSupprimer boutonSpan" onclick="supprimerCategorie(this.parentNode.parentNode.parentNode)"><span></span><span></span></span>
				</div>

				<!-- l'input en lui-même -->
				<input class="titres titreCategorie" name="c1Titre" type="text" required>

			</div>

			<div class="input">
				<div class="enTete">
					<label>Catégorie (Description) :</label>
					<span class="boutonPoint boutonSpan" onclick="this.parentNode.nextElementSibling.value += '\r\n        &bull;  '; autoResizeSansEvent(this.parentNode.nextElementSibling); this.parentNode.nextElementSibling.focus()"><span></span></span>
				</div>
				<textarea class="descriptionCategorie" name="c1Description"></textarea>
			</div>

			<!-- la boite contenant toutes les parties -->
			<div class="listeParties">

				<!-- une boite typique d'une partie avec un input pour le titre et un input pour la description -->
				<div class="partie">
					<div class="input">
						<div class="enTete">
							<label>Catégorie (Partie -> Titre) :</label>
							<span class="boutonSupprimer boutonSpan" onclick="supprimerPartie(this.parentNode.parentNode.parentNode)"><span></span><span></span></span>
						</div>
						<input class="titres titrePartie" name="c1p1Titre" type="text" required>
					</div>
					<div class="input">
						<div class="enTete">
							<label>Catégorie (Partie -> Description) :</label>
							<span class="boutonPoint boutonSpan" onclick="this.parentNode.nextElementSibling.value += '\r\n        &bull;  '; autoResizeSansEvent(this.parentNode.nextElementSibling); this.parentNode.nextElementSibling.focus()"><span></span></span>
						</div>
						<textarea class="descriptionPartie" name="c1p1Description"></textarea>
					</div>
				</div>

			</div>
		</div>
	</div>

	<input type="hidden" class="dateModification" name="dateModification">

	<button class="boutonValider" type="submit" name="validerFormationCreer">Valider</button>
</form>