<h1 class="titreOnglet">Modifier une Formation</h1>

<div class="cadrePrincipal">

	<!-- la boite contenant les formations actuelles et un input de recherche -->
	<div class="boiteDeRechercheFormations">
		<div class="inputRecherche">
			<img src="../assets/loupe.png">
			<input type="text" placeholder="Rechercher une formation">
		</div>
		<div class="boiteResultatsRechercheFormations"></div>
	</div>

	<!-- le form qui s'actualise on fonction de la formation sélectionnée dans le boite précédente et qui permet de la modifier -->
	<form class="formFormation" action="scriptFormationModifier.php" method="POST" enctype="multipart/form-data">

		<!-- les boutons d'actions rapides (dupliquer et supprimer) -->
		<div class="logosActionsRapides">
			<img id="actionRapideDupliquer" src="../assets/dupliquer.png" title="dupliquer la formation" onclick="dupliquerFormation()" class="desactive">
			<img id="actionRapideSupprimer" src="../assets/supprimer.png" title="supprimer la formation" onclick="supprimerFormation()" class="desactive">
		</div>

		<!-- conteneur contenant les inputs près remplis de la formation sélectionnée -->
		<div class="conteneurInputsFormation">
			<p style="margin-top: 20px; margin-bottom: 20px; text-align: center;">Selectionnez une formation à votre gauche.</p>
		</div>

		<!-- les inputs hidden servant pour le script  scriptFormationModifier.php -->
		<input type="hidden" class="dateModification" name="dateModification">
		<input type="hidden" class="nomInitial" name="nomInitial">

		<button class="boutonValider desactive" type="submit" name="validerFormationModifier" disabled>Valider</button>
	</form>
</div>
