<h1 class="titreOnglet">Modifier les Informations Essentielles</h1>

<!-- le formulaire pour faire les modifications -->
<form method="POST" action="scriptInformationsEssentiellesAjouter.php">

	<!-- le bouton pour ajoute les inputs afin d'ajouter une information -->
	<div class="boutons">
		<span class="boutonAjouter boutonSpan" onclick="ajouterInformation(this.parentNode.nextElementSibling)">Ajouter une Information</span>
	</div>

	<!-- la boite contenant la liste des inputs des informations -->
	<div class="listeInformations">
		
		<!-- une boite typique représentant une information avec les inputs nécessaire (cette boite ne peut pas être supprimée, il doit au moins y avoir 1 information) -->
		<div class="information">
			<div class="input">
				<label>Information (Titre) :</label>
				<input class="titreInformation i1Titre" name="i1Titre" type="text" required>
			</div>
			<div class="input">
				<div class="enTete">
					<label>Information (Description) :</label>
					<span class="boutonPoint boutonSpan" onclick="this.parentNode.nextElementSibling.value += '\r\n        &bull;  '; autoResizeSansEvent(this.parentNode.nextElementSibling); this.parentNode.nextElementSibling.focus()"><span></span></span>
				</div>
				<textarea class="descriptionInformation i1Description" name="i1Description" required></textarea>
			</div>
		</div>

	</div>

	<button type="submit" name="validerInformationsEssentiellesAjouter">Valider</button>

</form>