<h1 class="titreOnglet">Modifier les Sessions</h1>

<div class="cadrePrincipal">

	<!-- la boite contenant la liste des formations et un système de recherche -->
	<div class="boiteDeRechercheFormations">
		<div class="inputRecherche">
			<img src="../assets/loupe.png">
			<input type="text" placeholder="Rechercher une formation">
		</div>
		<div class="boiteResultatsRechercheFormations"></div>
	</div>

	<!-- la boite contenant les sessions associées à la formation sélectionnée dans la boite précédente -->
	<div class="boiteDesSessions">

		<!-- les bouton pour créer ou supprimer un session -->
		<div class="boiteActions">
			<button type="button" class="boutonCreer desactive" onclick="creerSession()" disabled>Créer une Session</button>
			<span class="ligneVerticale"></span>
			<button type="button" class="boutonSupprimer desactive" onclick="supprimerSession()" disabled>Supprimer une Session</button>
		</div>

		<span class="ligneHorizontale"></span>
		<div class="boiteListeDesSessions"></div>
	</div>
</div>
