/* pour la page informations.php */

/* styles généraux pour le corps de la page */

main {
	line-height: 1.5;
	padding: 20px 20px 40px 20px;
}

main p, main pre, main a:hover {
	color: #3C4858;
	font-size: 16px;
}

main pre {
	font-family: 'Montserrat', sans-serif;
	word-break: break-word;
	white-space: pre-wrap;
	overflow-wrap: break-word;
}

main a {
	text-decoration: none;
	color: rgb(199, 144, 43);
}

main .bold {
	font-weight: bold;
}

#formationPasTrouvee {
	text-align: center;
	color: red;
	font-size: 18px;
	margin: 20px;
}

/* en-tête de la formation */

#header-formation {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding-bottom: 20px;
	padding-top: 20px;
	gap: 15px;
}

/* section des informations sur la formation */

#info-formation {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 40px;
	gap: 25px;
	flex-wrap: wrap;
}

#info-formation .boutonTelechargementPdf {
	background-color: #6EC1E4;
	color: white;
	padding: 10px;
	border-radius: 4px;
}

/* contenu principal de la page de la formation */

#formation {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 5%;
	row-gap: 20px;
}

#formation p:not(#derniereMiseAJour), #formation h2, #formation h3 {
	margin-bottom: 8px;
}

#formation h3 {
	margin-top: 8px;
}

#formation h2:not(.premierH2) {
	margin-top: 25px;
}

#derniereMiseAJour {
	text-align: right;
	font-size: 14px;
	margin-top: 20px;
}

/* section de gauche de la formation */

#formation-gauche {
	width: 50%;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

#formation-gauche p:not(#derniereMiseAJour) {
	text-align: justify;
}

/* section de droite de la formation */

#formation-droite {
	width: 35%;
	padding: 20px;
	position: sticky;
	top: max(calc(50% - 200px), 150px);
	align-self: flex-start;
	border-radius: 5px;
	box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

#formation-droite button {
	background-color: #23A455;
	color: white;
	padding: 20px;
	margin-top: 8px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: all 0.05s ease-out;
	font-size: 18px;
	width: 100%;
}

#formation-droite button:hover {
	background-color: #E1B428;
}

#revenir-en-haut-de-la-page {
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 45px;
	height: 45px;
	line-height: 45px;
	color: white;
	background-color: #6EC1E4;
	opacity: 0.6;
	border-radius: 4px;
	font-size: 16px;
	cursor: pointer;
	display: none;
	text-align: center;
}

@media (max-width: 950px){
	html {
		scroll-behavior: smooth;
	}

	#formation {
		flex-direction: column-reverse;
	}

	#formation-gauche {
		width: 100%; 
	}

	#formation-droite {
		width: 80%;
		align-self: center;
		position: static;
	}

	#revenir-en-haut-de-la-page {
		display: block;
	}	
}

@media (max-width: 600px){
	#formation-droite {
		width: 100%;
	}
}