/* pour la page connexion.php */

main {
	display: flex;
	justify-content: center;
	align-items: center;
}

main form {
	display: flex;
	flex-direction: column;
	gap: 20px;
	box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
	width: 400px;
	margin-bottom: 11%;
	padding: 20px;
}

main label, main button {
	display: block;
}

main input {
	display: block;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 10px;
	margin-top: 6px;
	width: 100%;
}

main button {
	padding: 10px;
	background-color: #98B22C;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

main button:hover {
	background-color: #45a049;
}

#erreurConnexion {
	color: red;
}

@media (max-width: 500px) {
	main form {
		margin: 0 20px 11%;
	}
}